streamlit
st-pages
extra-streamlit-components
html2text
beautifulsoup4
numpy
openai
python-dotenv
azure-core
azure-cosmos
tenacity
feedparser
langchain-openai
langchainhub
pydantic
langchain-community
langchain
langchain-openai
azure-search-documents
